body{
	text-align: center;
	font-family: Helvetica;
	padding: 10px;
	letter-spacing: .9px;
}

.logo {
    height: 35px;
    margin-left: 15px;
}

#title {
    border-bottom: #aaa solid 1px;
}

button {
    cursor: pointer;
    outline: none;
}

.maxRadius {
    background-color: #808080;
    border-radius: 2px;
    font-size: 12px;
    margin-left: 15px;
}

.delete {
    background-color: #d8c300;
    border-radius: 2px;
    font-size: 12px;
    margin-left: 15px;
}

.button_container > button {
    border-radius: 12px;
    font-size: 14px;
    background-color: #808080;
    color: white;
    float: left;
    padding: 5px 10px;
    margin-left: 5px;
}


.button_container {
    margin: 10px;
    margin-left: 200px;
    height: 30px;
    width: auto;
}

table {
    box-shadow: 2px 2px 8px grey;
    width: 60%;
    margin: auto;
    border-collapse: separate;
}

td, th {
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    padding: 7px;
    width: 15%
}

th {
    background-color: #4268f4;
    color: white;
}

.number_cell, .number_cell:focus {
    width: 40%;
}

.redBox {
    border: 17px solid red;
    outline-style: solid;
    outline-color: red;
}

input, input:focus {
    font-size: 15px;
    border: none;
    border-bottom: #aaa solid 1px;
    outline: none;
    background: transparent;
    width: 100%;
}

.modal {
    position: fixed;
    width: 1000px;
    min-height: 100px;
    top: 100px;
    left: 0; right: 0;
    margin: 0 auto;
    opacity: 1;
    background-color: #fff;
    transition: opacity .5s;
}

#modalTitle {
    position: absolute;
    display: inline-block;
    font-size: 15px;
    border: none;
    border-bottom: #aaa solid 1px;
    color: white;
}

.close {
    position: absolute;
    display: inline-block;
    right: 0px;
    cursor: pointer;
    color: #ccc;
    transition: color 0.15s;
    text-align: right;
    background-color: #0d0087;
    width: 100%;
}

#text_width_calc {
    border-bottom: none;
    color: transparent;
}